// variables first, to override default libraries' options
@import 'config/variables';
// vendor - Bower (REMOVE IF YOU ARE NOT USING ANY OF THE FOLLOWING LIBS)
// otherwise, update the path to your actual Bower dir path (if app dir changed),
// set variables used to configure the libs in previously imported file (recommended config/variables)
@import '../../bower_components/meyer-reset/stylesheets/meyer-reset';
@import '../../bower_components/compass-breakpoint/stylesheets/breakpoint';
@import '../../bower_components/sass-core/dist/sass-core';
// vendor - inline
// example (update path to actual)
// @import '../../vendor/styles/some-lib/lib';
// config files
@import 'config/mixins';
@import 'config/colors';
@import 'config/fonts';
// sprites - uncomment if used
//@import 'sprites/**/*';
//components
@import 'components/**/*';
//pages
@import 'pages/**/*';
.device {
    @include breakpoint(max-width $tiny) {
        display: none;
    }
    // overflow: hidden;
    margin: 0 auto;
    position: relative;
    .device-popup {
        &.active {
            display: block;
        }
        .device-popup-icon {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
        display: none;
        z-index: 20;
        background: white;
        position: absolute;
        top:30px;
        left:30px;
        right:30px;
        bottom:30px;
    }
    .device-menu {
        .device-app {
            min-width: 16.6%;
            margin-bottom: 0px;
        }
        @include breakpoint($tiny) {
            height: 60px;
        }
        @include breakpoint($small) {
            height: 45px;
        }
        @include breakpoint($medium) {
            height: 120px;
        }
        display: flex;
        position: absolute;
        align-items:center;
        bottom:0px;
        right:0px;
        left:0px;
        background-color:rgba(255, 255, 255, 0.3);
    }
    .device-display {
        overflow: hidden;
    }
    .device-screens {
        // overflow: hidden;
        transition: 500ms all ease-in-out;
        position: static;
        display: flex;
        /* min-width: 50000px; */
    }
    .device-pager {
        position: absolute;
        width: 100%;
        z-index: 10;
        @include breakpoint($tiny) {
            bottom: 63px;
        }
        @include breakpoint($small) {
            bottom: 45px;
        }
        @include breakpoint($medium) {
            bottom: 130px;
        }
        ul {
            display: block;
            li {
                &.active {
                    background-color: white;
                }
                @include breakpoint($tiny) {
                    padding: 2px;
                }
                @include breakpoint($medium) {
                    padding: 5px;
                }
                margin-right:5px;
                cursor:pointer;
                display: inline-block;
                border-radius: 100%;
                border:1px solid white
            }
        }
    }
    .device-screen {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        min-width: 100%;
        overflow: hidden;
        @include breakpoint($tiny) {
            padding: 3px;
        }
        @include breakpoint($medium) {
            padding-top: 55px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    &:before {
        @include breakpoint($tiny) {
            content: '';
            position: absolute;
            left: -26px;
            right: -26px;
            top: -94px;
            bottom: -94px;
            background: url('../img/iphone5-ver.png') no-repeat center;
            background-size: contain;
            z-index: -1;
        }
        @include breakpoint($small) {
            content: '';
            position: absolute;
            left: -84px;
            right: -85px;
            top: -23px;
            bottom: -25px;
            background: url('../img/ipone5-hor.png') no-repeat center;
            background-size: contain;
            z-index: -1;
        }
        @include breakpoint($medium) {
            content: '';
            position: absolute;
            left: -244px;
            right: -240px;
            top: -228px;
            bottom: -240px;
            background: url('../img/ipad-mini-vertical.png') no-repeat center;
            background-size: contain;
            z-index: -1;
        }
        @include breakpoint($large) {
            content: '';
            position: absolute;
            left: -232px;
            right: -242px;
            top: -242px;
            bottom: -242px;
            background: url('../img/ipad-mini-horizontal.png') no-repeat center;
            background-size: contain;
            z-index: -1;
        }
    }
    @include breakpoint($tiny) {
        background: url('../img/background.jpg') no-repeat center;
        background-size: cover;
        height: 475px;
        width: 270px;
    }
    @include breakpoint($small) {
        background: url('../img/background.jpg') no-repeat center;
        background-size: cover;
        height: 224px;
        width: 400px;
    }
    @include breakpoint($medium) {
        background: url('../img/background.jpg');
        background-size: cover;
        height: 1024px;
        width: 768px;
    }
    @include breakpoint($large) {
        background: url('../img/background.jpg');
        //@include breakpoint($large) {
        background-size: cover;
        height: 768px;
        width: 1024px;
    }
    width:100%;
    height:1000px;
    .device-app {
        .device-app-name {
            color: white;
            font-size: 0.8em;
            @include breakpoint($tiny) {
                text-overflow: ellipsis;
                overflow: hidden;
                margin-top: 0px;
                font-size: 0.6em;
            }
            @include breakpoint($medium) {
                margin-top: 4px;
                font-size: 0.8em;
            }
        }
        .device-app-icon {
            img {
                max-width: 100%;
                max-height: 100%;
            }
            margin:0 auto;
            max-height: 85px;
            @include breakpoint($tiny) {
                max-width: 38px;
            }
            @include breakpoint($small) {
                max-width: 28px;
            }
            @include breakpoint($medium) {
                max-width: 85px;
            }
        }
        @include breakpoint($tiny) {
            width: 25%;
            margin-bottom: 35px;
        }
        @include breakpoint($small) {
            max-width: 20%;
            margin-bottom: 2px;
        }
        @include breakpoint($medium) {
            margin-bottom: 40px;
            min-width: 25%;
        }
        @include breakpoint($large) {
            min-width: 20%;
        }
        min-width: 20%;
    }
}

#layout-main-wrap {
    overflow: hidden;
    @include breakpoint($tiny) {
        width: 320px;
    }
    @include breakpoint($small) {
        width: 568px;
    }
    @include breakpoint($medium) {
        width: 1000px;
    }
    @include breakpoint($large) {
        width: 1300px;
    }
    max-width: 100%;
    margin: 0 auto;
}

main {
    margin: 150px auto;
    text-align: center;
}

.drag-element {
    position: absolute;
    width: 85px;
    height: 85px;
    background: black;
    top: -1000px;
}